groups:
  - name: example
    rules:
      - alert: HighErrorRate
        expr: job:request_error_rate:rate5m{job="myjob"} > 0.5
        for: 10m
        labels:
          severity: warning
        annotations:
          summary: "High error rate on {{ $labels.job }}"
